module.exports = {
	mysql: {
		host: 'localhost',
		user: 'TO COMPLETE',
		password: 'TO_COMPLETE',
		database: 'TO_COMPLETE',
		schemaFile: 'assets/insights_table.sql',
		table: 'TO_COMPLETE'
	},
	userAccessToken: 'TO_COMPLETE'
};